aws_access_key      = "AWSのアクセスキー"
aws_secret_key      = "AWSのシークレットキー"
aws_account_id      = "AWSのアカウントID"
domain_name         = "ドメイン名"
database_host       = "RDSのエンドポイント"
database_name       = "データベース名"
database_username   = "ユーザー名"
database_password   = "パスワード"
app_host            = "アプリのホスト"
rails_master_key    = "Railsアプリのmasterkey"
rails_log_to_stdout = 1
mailer_user_name    = "送信元Gmailアカウントのメールアドレス"
mailer_password     = "送信元Gmailアカウントのアプリパスワード"
